---

excerpt: "Hi! This is Feeel_j Blog. I'm posting photos & development notes."
layout: splash
sidebar_main: ture
author_profile: true
entries_layout: list
header:
    overlay_image: /assets/images/DSCF8243.JPG
    # overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
    image_description: "Feeel's DevNote"
---

<div class="grid__wrapper">
    {% for post in paginator.posts %}
    {% include archive-single3.html type="list" %}
    {% endfor %}
</div>
{% include paginator.html %} 